<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passport/ID</title>
</head>
<link rel="stylesheet" href="../static/css/profile.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<body>
<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <img src="../static/img/logo.svg" class="img">
            <span><hr></span>

            <a class="nav-link" id="profile" href="/profile" role="tab"
               aria-controls="profile" aria-selected="false">Personal info</a>
            <a class="nav-link" id="contacts" href="/contacts" role="tab"
               aria-controls="contacts"
               aria-selected="false">Contacts</a>
            <a class="nav-link active" id="passport" href="#passport" role="tab"
               aria-controls="passport"
               aria-selected="true">Passport <span>/</span> ID</a>
            <a class="nav-link" id="education"  href="/education" role="tab"
               aria-controls="education"
               aria-selected="false">Education</a>
            <a class="nav-link" id="portfolio" href="/portfolio" role="tab"
               aria-controls="portfolio"
               aria-selected="false">Portfolio</a>
            <a class="nav-link" id="tests" href="#tests" role="tab" aria-controls="tests"
               aria-selected="false">Tests</a>

            <div class="kostyl">

            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="container header">
            <a class="btn btn-outline-primary logout" href="/login">Log out</a>
        </div>
        <div id="message-to-user" style="text-align: justify">
            <p class="message">Please, fill out the form completely</p>
        </div>
        <div class="container content">
            <div class="row">
                <div class="col-6 label">
                    <div class="row1">
                        <div id="div_passport_series" style="display: block">
                            <label class="field">Passport series:</label>
                            <div class="text">
                                {{ data['passport_series'] }}
                            </div>
                            <hr>
                        </div>
                        <div id="edit_passport_series" style="display: none">
                            <input type="text" id="passport_series" class="form-control" placeholder="Enter your passport series">
                        </div>
                    </div>
                    <div class="row1">
                        <div id="div_date_of_issue" style="display: block">
                            <label class="field">Date of issue:</label>
                            <div class="text">
                                {{ data['issue_date'] }}
                            </div>
                            <hr>
                        </div>
                        <div id="edit_date_of_issue" style="display: none">
                            <input type="date" id="date_of_issue" class="form-control" placeholder="Enter your date of issue">
                        </div>
                    </div>
                </div>
                <div class="col-5 label">
                    <div class="row1">
                        <div id="div_passport_number" style="display: block">
                            <label class="field">Passport number:</label>
                            <div class="text">
                                {{ data ['passport_number'] }}
                            </div>
                            <hr>
                        </div>
                        <div id="edit_passport_number" style="display: none">
                            <input type="text" id="passport_number" class="form-control" placeholder="Enter your passport number">
                        </div>
                    </div>
                    <div class="row1">
                        <div id="div_authority_code" style="display: block">
                            <label class="field">Issuing authority code:</label>
                            <div class="text">
                                {{ data ['issuing_authority'] }}
                            </div>
                            <hr>
                        </div>
                        <div id="edit_authority_code" style="display: none">
                            <input type="text" id="authority_code" class="form-control" placeholder="Enter your issuing authority code">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <a class="btn btn-outline-primary edit" id="btn-edit" onclick="edit()" style="display: block">Edit</a>
            <a class="btn btn-outline-primary edit" id="btn-save" onclick="send()" style="display: none">Save</a>
        </div>
    </div>
</div>
</body>
<script>

    function send() {
        var data = {
            'passport_series': document.getElementById('passport_series').value,
            'passport_number': document.getElementById('passport_number').value,
            'issue_date': document.getElementById('date_of_issue').value,
            'issuing_authority': document.getElementById('authority_code').value
        };



        $.ajax({
            url: '/passport',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (data) {
                if (data === 'Successfully updated!')
                    document.location.reload();
            }
        })

    }

    function edit() {
        document.getElementById('edit_passport_series').style.display = 'block';
        document.getElementById('div_passport_series').style.display = 'none';
        document.getElementById('edit_date_of_issue').style.display = 'block';
        document.getElementById('div_date_of_issue').style.display = 'none';
        document.getElementById('edit_passport_number').style.display = 'block';
        document.getElementById('div_passport_number').style.display = 'none';
        document.getElementById('edit_authority_code').style.display = 'block';
        document.getElementById('div_authority_code').style.display = 'none';

        document.getElementById('btn-edit').style.display = 'none';
        document.getElementById('btn-save').style.display = 'block';
    }
</script>
</html>