<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal info</title>
</head>
<link rel="stylesheet" href="../static/css/profile.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<body>
<div class="row">
    <div class="col-3">
         <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <img src="../static/img/logo.svg" class="img">
            <span><hr></span>

            <a class="nav-link active" id="profile-prof" href="#profile-prof" role="tab"
               aria-controls="profile-prof" aria-selected="true">Personal info</a>
            <a class="nav-link" id="contacts" href="#contacts" role="tab"
               aria-controls="contacts"
               aria-selected="false">Contacts</a>
            <a class="nav-link" id="list-applicants" href="#list-applicants" role="tab"
               aria-controls="list-applicants"
               aria-selected="false">List of applicants <span>/</span> ID</a>
            <a class="nav-link" id="portfolios" href="#portfolios" role="tab"
               aria-controls="portfolios"
               aria-selected="false">Portfolios</a>
            <a class="nav-link" id="tests" href="#tests" role="tab" aria-controls="tests"
               aria-selected="false">Tests</a>

            <div class="kostyl">

            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="container header">
            <a class="btn btn-outline-primary logout" href="/login">Log out</a>
        </div>
        <div id="message-to-user" style="text-align: justify;">
            <p class="message">Please, fill out the form completely</p>
        </div>
        <div class="container">
            <img class="profile" src="../static/img/profile.png" width="128" height="128">
        </div>

        <div class="container content">
            <div class="row">
                <div class="col-6 label">
                    <div class="row1">
                        <div id="div_name" style="display: block">
                            <label class="field">First name:</label>
                            <div class="text">
                                {{ data['name'] }}
                            </div>
                            <hr>
                        </div>
                        <div id="edit_name" style="display: none;">
                            <input type="text" id="edit_name_in" class="form-control"
                                   placeholder="Enter your first name" value="{{ data['name'] }}">
                        </div>
                    </div>
                    <div class="row1">
                        <div id="div_sname" style="display: block">
                            <label class="field">Second name:</label>
                            <div class="text">
                                {{ data['surname'] }}
                            </div>
                            <hr>
                        </div>
                        <div id="edit_sname" style="display: none">
                            <input type="text" id="edit_sname_in" class="form-control"
                                   placeholder="Enter your second name" value="{{ data['surname'] }}">
                        </div>
                    </div>

                    <div class="row1">
                        <div id="div_citizen" style="display: block">
                            <label class="field">Citezenship:</label>
                            <div class="text">
                                {{ data['citizen'] }}
                            </div>
                            <hr>
                        </div>
                        <div id="edit_citizen" style="display: none">
                            <input type="text" id="edit_citizen_in" class="form-control"
                                   placeholder="Enter your citizenship" value="{{ data['citizen'] }}">
                        </div>
                    </div>
                </div>
                <div class="col-5 label">
                    <div class="row1">
                        <div id="div_bdate" style="display: block">
                            <label class="field">Birth day (dd.mm.yyyy):</label>
                            <div class="text">
                                {{ data['birthday'] }}
                            </div>
                            <hr>
                        </div>
                        <div id="edit_bdate" style="display: none">
                            <input type="date" id="edit_bdate_in" class="form-control"
                                   placeholder="Enter your birth date" value="{{ data['birthday'] }}">
                        </div>
                    </div>
                    <div class="row1">
                        <div id="div_gender" style="display: block">
                            <label class="field">Gender:</label>
                            <div class="text">
                                {{ data['gender'] }}
                            </div>
                            <hr>
                        </div>
                        <div id="edit_gender" style="display:none;">
                            <select class="custom-select" id="gender" style="border-radius: 18px;
                            border-bottom-color: #1A428A; width: 189px">
                                <option selected>Choose your gender</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                <option value="ND">prefer not to say</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <a class="btn btn-outline-primary edit" id="btn-edit" onclick="edit()" style="display: block">Edit</a>
            <a class="btn btn-outline-primary edit" id="btn-save" onclick="send()" style="display: none">Save</a>

        </div>
    </div>
</div>
</body>
<script>
    function send() {
        var data = {
            'fname': document.getElementById('edit_name_in').value,
            'sname': document.getElementById('edit_sname_in').value,
            'bdate': document.getElementById('edit_bdate_in').value,
            'citizenship': document.getElementById('edit_citizen_in').value,
            'gender': document.getElementById('gender').value
        };

        $.ajax({
            url: '/profile',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (data) {
                if (data === 'Basic info successfully created')
                    document.location.reload();
            }
        })

    }

    function edit() {
        document.getElementById('edit_name').style.display = 'block';
        document.getElementById('div_name').style.display = 'none';
        document.getElementById('edit_bdate').style.display = 'block';
        document.getElementById('div_bdate').style.display = 'none';
        document.getElementById('edit_citizen').style.display = 'block';
        document.getElementById('div_citizen').style.display = 'none';
        document.getElementById('edit_sname').style.display = 'block';
        document.getElementById('div_sname').style.display = 'none';
        document.getElementById('edit_gender').style.display = 'block';
        document.getElementById('div_gender').style.display = 'none';
        document.getElementById('btn-edit').style.display = 'none';
        document.getElementById('btn-save').style.display = 'block';
    }


</script>
</html>